<div class="post-container">
	<% @posts.each do |post| %>
	<a href="/blog/<%=post["id"]%>"><h2><%= post["title"] %> </h2></a>
	<div class="post-body"><%= post["body"] %></div>
	<%= post["created_at"] %>
	<% end %>

</div>