<form action="/posts/create" method="post">
  <div>Title: <input type="text" name="title" /></div>
  <div>Body: <input type="textarea cols="40" rows="10" name="body" value="Type your blog post here"/></textarea></div>
  <button type="submit">Create Post</button>
</form>
